@using System.Text.Json
@{
    ViewBag.Title = "Exercício";
    var json = System.Text.Json.JsonSerializer.Serialize(ViewBag.Json);
}
@section Scripts {
    <script src="~/js/exercicio/module.js"></script>
}

<div ng-controller="ExercicioController" ng-init='iniciar(@Html.Raw(json))' class="container">

    <h2 class="fw-bold"> @ViewBag.Title</h2>
    <form class="row" ng-submit="salvar()">

        <div class="mb-3 col-lg-6">
            <label for="Nome" class="form-label">Nome</label>
            <input type="text" maxlength="64" ng-model="exercicio.nome" required class="form-control" id="Nome">
        </div>

        <div class="mb-3 col-lg-6">
            <label class="form-label">Dificuldade</label>
            <select class="form-select" ng-model="exercicio.dificuldade" required ng-options="g.Id as g.Nome for g in dificuldades">
                <option value="">Selecione a dificuldade</option>
            </select>
        </div>
     
        <div class="mb-3 col-lg-6">
            <label class="form-label">Grupo muscular</label>
            <select class="form-select" ng-model="exercicio.grupoMuscular" required ng-options="g.Id as g.Nome for g in gruposMusculares">
                <option value="">Selecione um grupo muscular</option>
            </select>
        </div>

        <div class="mb-3 col-lg-6">
            <label for="Imagem" class="form-label">Imagem</label>
            <input type="file" file-model="exercicio.arquivo" class="form-control" id="Imagem">
        </div>

        <div class="mb-3 col-lg-6">
            <label for="Descricao" class="form-label">Descricao</label>
            <textarea class="form-control" ng-model="exercicio.descricao" required rows="3" maxlength="128"></textarea>
        </div>

        <div class="mb-3 col-lg-6 text-center" ng-show="imagemDoExercicio">
            <label>&nbsp;</label>
            <img class="img-fluid" style="width:130px; max-height:150px" ng-src="{{exercicio.caminho}}" alt="imagem do exercício"/>
        </div>

        <div class="d-flex gap-2 justify-content-end">
            <a href="@Url.Action("Index", "Exercicio")" class="btn btn-secondary"> Voltar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>

    </form>
</div>
