@model int
@{

}
@section Scripts {
	<script src="~/js/usuario/module.js"></script>
}

<div ng-controller="UsuarioController" class="container">
	<div class="">
		<form ng-submit="salvar()">
			<div class="mb-3">
				<label for="Nome" class="form-label">Nome</label>
				<input type="text" ng-model="usuario.Nome" required class="form-control" id="Nome">
			</div>

			<div class="mb-3">
				<label for="Email" class="form-label">E-mail</label>
				<input type="email" ng-model="usuario.Email" required class="form-control" id="Email">
			</div>
			<div class="mb-3">
				<label for="Senha" class="form-label">Senha</label>
				<input type="password" class="form-control" ng-model="usuario.Senha" id="Senha">
			</div>
			<button type="submit" class="btn btn-primary">Salvar</button>

		</form>
	</div>
</div>
