@{
	ViewBag.Title = "Professores";
	var json = System.Text.Json.JsonSerializer.Serialize(ViewBag.Json);
}
@section Scripts {
	<script src="~/js/Professor/module.js"></script>
}
<div class="container mt-4" ng-controller="ProfessorListController" ng-init='iniciar(@Html.Raw(json))'>
	<h2 class=fw-bold>@ViewBag.Title</h2>

	<div class="row mb-3">
		<div class="col-md-6">
			<span class="form-label">&nbsp;</span>
			<div class="input-group">
				<button ng-click="listar()" type="button" class="input-group-text">
					<i class="fa fa-search"></i>
				</button>
				<input type="text" class="form-control" placeholder="Buscar..." ng-model="filtros.busca">
			</div>
		</div>

		<div class="col-md-6" ng-show="idAcademia === 0" >
			<span class="form-label">Academia </span>
			<select id="academiaSelect"
					class="form-select"
					ng-model="filtros.idAcademia"
					ng-change="listar()">
				<option value="0">Todas</option>
				<option ng-repeat="academia in academias"
						ng-value="academia.Id">
					{{ academia.Nome }}
				</option>
			</select>
		</div>
	</div>
	
	<div class="d-flex justify-content-between my-3">
		<button type="button" ng-click="listar()" class="btn btn-primary">Buscar</button>
		<a href="@Url.Action("Create", "Professor")" class="btn btn-success">+ Adicionar</a>
	</div>

	<div class="table-responsive">
		<table class="table table-hover table-sm ">
			<thead class="">
				<tr>
					<th>#</th>
					<th>Nome</th>
					<th>Email</th>
					<th ng-show="idAcademia === 0">Academia</th>
					<th> </th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in professores">
					<td class="align-content-center">{{ item.id}}</td>
					<td class="align-content-center">{{ item.nome }}</td>
					<td class="align-content-center">{{ item.email }}</td>
					<td ng-show="idAcademia === 0" class="align-content-center">{{ item.nomeDaAcademia  }}</td>
					<td class="text-end">
						<a class="btn btn-sm btn-primary me-1" ng-href="/Professor/Create/{{item.id}}">
							<i class="fa fa-edit"></i>
						</a>
						<button class="btn btn-sm btn-danger" ng-click="excluir(item.id)">
							<i class="fa fa-trash"></i>
						</button>
					</td>
				</tr>
				<tr ng-if="professores.length === 0">
					<td colspan="4" class="text-center text-muted">Nenhum resultado encontrado.</td>
				</tr>
			</tbody>
		</table>

		<paginador ao-paginar="listar()"
				   pagina-atual="filtros.pagina"
				   total-paginas="filtros.totalPaginas">
		</paginador>
	</div>
</div>
